/*Inizio general settings*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fine general settings*/

/*Inizio colonne in dodicesimi*/
.col-1{
    width: calc(100%/12);
}
.col-2{
    width: calc((100%/12)*2);
}
.col-3{
    width: calc((100%/12)*3);
}
.col-4{
    width: calc((100%/12)*4);
}
.col-5{
    width: calc((100%/12)*5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc((100%/12)*7);
}
.col-8{
    width: calc((100%/12)*8);
}
.col-9{
    width: calc((100%/12)*9);
}
.col-10{
    width: calc((100%/12)*10);
}
.col-11{
    width: calc((100%/12)*11);
}
.col-12{
    width: 100%;
}
/*Fine colonne in dodicesimi*/

/*Inizio root*/

:root {
    --bg-nav-lightblue: #0084fd;
    --text-lightblue: #0787fd;
    --bg-text-verylightblue: #b5ddff;
    --bg-section-white: #ffffff;
    --text-white: #fdfdff;
    --bg-section-violet: #9792e4;
    --text-black: #111111;
    --free-orange: #fdc15f;
    --bg-footer-softblack: #333333;
}

/*Fine root*/

/*Inizio utility*/
.container{
    width: 70%;
    max-width: 1152px;
    margin: auto;
}

.row{
    display:flex;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

.aling-items-center{
    align-items: center;
}

.overflow-hidden{
    overflow: hidden;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.top-20px{
    top: 20px;
}

.left-40px{
    left: 40px;
}

.bot-0{
    bottom: 0;
}

.bot-20px{
    bottom: 20px;
}

.right-40px{
    right: 40px;
}

.align-self-end{
    align-self: end;
}



/*Inizio typography*/
.montserrat{
    font-family: 'montserrat', sans-serif;
}

.size-12{
    font-size: 12px;
}

.size-14{
    font-size: 14px;
}

.size-16{
    font-size: 16px;
}

.size-18{
    font-size: 18px;
}

.size-24{
    font-size: 24px;
}

.weight-600{
    font-weight: 600;
}

.italic{
    font-style: italic;
}

.text-center{
    text-align: center;
}

.line-height-1-5{
    line-height: 1.5;
}

.line-height-2{
    line-height: 2;
}

/*Fine typography*/

/*Inizio paddings*/

.p-1{
    padding: 1rem;
}

.p-bt1-rl2{
    padding: 1rem 2rem;
}

.p-bt-05{
    padding: 0.5rem 0;
}

.p-bt-1{
    padding: 1rem 0;
}

.p-top-1{
    padding-top: 1rem;
}

.p-bt-5{
    padding: 5rem 0;
}

.p-10px{
    padding: 10px;
}

.p-right-10px{
    padding-right: 10px;
}

/*Fine paddings*/
/*Inizio margins*/

.m-bt-3{
    margin: 3rem 0;
}

/*Fine margins*/
/*Inizio borders*/

.border-t-10px{
    border-top: 10px;
}

.border-l-10px{
    border-left: 10px;
}

.border-b-10px{
    border-bottom: 10px;
}

.border-r-10px{
    border-right: 10px;
}

.border-radius-2{
    border-radius: 2rem;
}

.border-radius-05{
    border-radius: 50%;
}

/*Fine borders*/

/*Inizio width*/
.width-28{
    width: 28%;
}

.min-width-120px{
    min-width: 120px;
}
/*Fine width*/

/*Inizio gap*/
.gap-3{
    gap: 3rem;
}
/*Fine gap*/

/*Inizio Colors*/

.color-white{
    color: var(--text-white);
}

.color-black{
    color: var(--text-black);
}

.color-lightblue{
    color: var(--text-lightblue);
}

.bg-color-white{
    background-color: var(--bg-section-white);
}

.bg-color-violet{
    background-color: var(--bg-section-violet);
}

/*Fine Colors*/

/*Fine utility*/
/*Inizio header*/

nav{
    background-color: var(--bg-nav-lightblue);
}

nav .logo {
    cursor:pointer;
}

nav ul{
    list-style: none;
}

nav ul a {
    text-decoration: none;
}

nav button{
    padding: 0.4rem 0.5rem;
    border-radius: 1rem;
    border:0;
    cursor: pointer;   
}

/*Fine header*/
/*Inizio main*/

/*Inizio section demo*/

.demo {
    background-color: var(--bg-section-white);
}

.demo .card{
    background-color: var(--bg-text-verylightblue);
    border-radius: 2rem;
    border-style: solid;
    border-color: var(--bg-section-white);
}

.demo button{
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    border:0;
    cursor: pointer;
    background-color: var(--bg-nav-lightblue);
}

/*Fine section demo*/
/*Inizio section strategic*/

.strategic{
    background-color: var(--bg-section-violet);
}

.strategic .container{
    width: 50%;
}



/*Fine section strategic*/





/*Fine main*/




























/*Inizio debug*/
/*Inizio d-header*/
.debug nav {
    background-color: var(--bg-nav-lightblue);
}

.debug nav .row{
    justify-content: space-between;
}

.debug nav .logo {
    width: 100px;
    height: 50px;
    background-color: green;
}

.debug nav .menu {
    height: 50px;
    background-color: red;
}
/*Fine d-header*/
/*Inizio d-main*/
/*Inizio section demo*/

.debug .demo .row {
    flex-wrap: wrap;
}

.debug .demo .col-8{
    background-color: blue;
    height: 300px;
}

.debug .demo .col-4{
    background-color: orange;
    height: 300px;
    border: 1px dashed black;
}

.debug .demo{
    background-color: var(--bg-section-white);
}

/*Fine section demo*/
/*Inizio section strategic*/

.debug .strategic {
    background-color: var(--bg-section-violet);
}

.debug .strategic .col-6{
    height: 500px;
    border: 1px dashed black;
    background-color: brown;
}
/*Fine section strategic*/
/*Inizio section partners*/

.debug .partners{
    background-color: var(--bg-section-white);
}

.debug .partners .texts {
    height: 300px;
    background-color:greenyellow;
}

.debug .partners .card{
    height: 250px;
    background-color: peru;
    border: 1px dashed black;
}

/*Fine section partners*/
/*Inizio section benefits*/

.debug .benefits {
    background-color: var(--bg-section-violet);
}

.debug .benefits .row {
    flex-wrap: wrap;
}

.debug .benefits .col-4 {
    height: 300px;
    background-color: crimson;
    border:1px dashed black;
}

/*Fine section benefits*/
/*Inizio section us*/

.debug .us {
    background-color: var(--bg-section-white);
}

.debug .us .col-8{
    height:500px;
    background-color: coral;
}

.debug .us .col-4{
    height:500px;
    background-color:violet;
}
/*Fine section us*/
/*Inizio section free*/

.debug .free {
    background-color: var(--bg-section-violet);
}

.debug .free .container{
    width: 50%;
}

.debug .free .content{
    height: 500px;
    background-color: purple;
}
/*Fine section free*/
/*Fine d-main*/
/*Inizio d-footer*/

.debug .site-footer{
    background-color: var(--bg-footer-softblack);
}

.debug .site-footer .container {
    width: 50%;
}

.debug .site-footer .content{
    height: 150px;
    background-color: orange;
}
/*Fine d-footer*/
/*Fine debug*/